@page "/ClientHistory/ClientDetails/PetDetailsByClient/{ClientId}"
@using MudBlazor
<div>
    <nav>
        <form class="form-inline">
            <button onclick="@GoHome" type="submit" class="btn btn-success bu-defaul c-b-green">
                <span class="material-icons">
                    home
                </span>
                <div>
                    Home
                </div>
            </button>
            <button onclick="@Submit" type="submit" class="btn btn-success bu-defaul c-b-green">
                <span class="material-icons">
                    calendar_month
                </span>
                <div>
                    Agenda Banho
                </div>
            </button>
            <button onclick="@VetHistory" type="submit" class="btn btn-success bu-defaul c-b-green">
                <span class="material-icons">
                    person
                </span>
                <div>
                    Agenda veterinária Veterinário
                </div>
            </button>
            <button onclick="@ClientHistory" type="submit" class="btn btn-success bu-defaul c-b-green">
                <span class="material-icons">
                    person
                </span>
                <div>
                    Clientes
                </div>
            </button>
            <button onclick="@HistoricoPets" type="submit" class="btn btn-success bu-defaul c-b-green">
                <span class="material-icons">
                    history
                </span>
                <div>
                    Histórico
                </div>
            </button>
        </form>
    </nav>
    <hr class="hr-menus" />
</div>
@inherits ClientsHistory
<MudTable ServerData="@(new Func<TableState, Task<TableData<Pets>>>(ServerReload))"
          Dense="true" Hover="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Pets de @ClientName</MudText>
        <MudButton Variant="Variant.Filled" OnClick="() => NovoPet()" Color="Color.Primary">Novo Pet</MudButton>
        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nome do pet</MudTh>
        <MudTh>Atualizar</MudTh>
        <MudTh>Deletar</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Sign">@context.Name</MudTd>
        <MudTd>
            <MudButton OnClick="() => Update(context.Id, context.Name)" Variant="Variant.Filled" Color="Color.Tertiary">Atualizar</MudButton>
        </MudTd>
        <MudTd>
            <MudButton OnClick="() => Delete(context.Id, context.Name)" Variant="Variant.Filled" Color="Color.Secondary">Excluir</MudButton>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>+
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<MudMessageBox @ref="Mbox" CancelText="Cancel">
    <MessageContent>
        <MudIcon Style="position: relative; left: 80px" Size="Size.Large" Icon="@MudBlazor.Icons.Material.Filled.Delete"></MudIcon>
        <MudText>Deletar <b><i>@PetName</i></b> ?</MudText>
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Default" Size="Size.Large">CONFIRM</MudButton>
    </YesButton>
</MudMessageBox>